body {
  display: flex;
  flex-direction: column;
  font-family: "Lato";
  text-align: center;
  color: #333333;
  max-width: 1000px;
  margin: auto;
}

img {
  max-width: 100%;
  max-height: 100%;
}

nav {
  margin-bottom: 50px;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}

label {
  display: block;
  margin: 10px;
}

i {
  margin-right: 10px;
}

.error {
  color: #FD2D01;
  font-weight: bold;
}

.user-informations {
  margin-bottom: 20px;
}

#posts-container, .post, .comment, #new-post-container, .new-comment-container {
  display: flex;
  flex-direction: column;
}

#posts-container {
  background-color: #F8F8F8;
  .post {
    background-color: #e7e7e7;
  }
}

#posts-container, #new-post-container, .post {
  margin: 10px;
  border: 2px solid #333333;
}

.comment, .new-comment-container {
  margin: 3px 20px;
  border: 1px solid #333333;
}

#new-post-container, {
  margin-bottom: 50px;
}

.post-informations, .comment-informations {
  margin: 20px;
  .owner-informations {
      text-decoration: none;
      font-weight: bold;
      color: #333333;
  }
  p {
    margin: 0 5px;
  }
}

.post-text, .comment-text {
  margin: 20px 50px;
  text-align: justify;
}


label {
  font-size: 20px;
  font-weight: bold;
}

textarea {
  margin: 10px;
  padding: 20px;
  border: 1px solid #333333;
  font-family: "Lato";
}

input {
  border: 1px solid #333333;
  font-family: "Lato";
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  width: 200px;
}

button {
  margin: 5px 10px;
  padding: 10px 20px 10px 20px;
  background-color: #FD2D01;
  border: 1px solid #333333;
  color: #F8F8F8;
  font-weight: bold;
  font-size: 1rem;
}

button:hover, button:focus {
  margin: 5px 10px;
  padding: 10px 20px 10px 20px;
  border: 1px solid #333333;
  background-color: #222222;
  color: #F8F8F8;
  font-weight: bold;
}

a {
  display: block;
  margin: 16px;
}